<div>
  <%= form_for([@screen, @screen.movies.build]) do |f| %>
    <%= render 'errors' %>
    <p>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label :context %>
      <%= f.text_area :context %>
    </p>
    <p>
      <%= f.label :showtime %>
      <%= f.time_field :showtime %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>
</div>
